body{
  background-color: #F3F2EF;
  margin:0;
  padding: 0;
}
/* Header */
.header{
  background-color: #fff;
  padding:15px;
}
.header .input__container{
  padding: 5px;
  background-color: #EEF3F8;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.header .input__container input{
  outline: none;
  border: none;
  padding:10px;
    background-color: #EEF3F8;
}