body{
  background-color: #F3F2EF;
  margin:0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Source Sans Pro', sans-serif;
}
img{
  object-fit: cover;
}
/* Header */
.header{
  background-color: #fff;
  display: flex;
    padding: 10px 100px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 1px 2px 2px rgb(204, 198, 198);
  z-index: 999;
}

.header__left,.header__right{
  display: flex;
  align-items: center;
}
.header__left img{
  height: 50px;
}
.header .input__container{
  padding: 5px;
  background-color: #EEF3F8;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-left: 5px;
}
 .header .input__container input {
   width: 100%;
 }
.header .input__container input{
  outline: none;
  border: none;
  padding:10px;
    background-color: #EEF3F8;
}
.header__right img{
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: black;
}
.header__optionContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 23px;
  cursor: pointer;
  
}
.header__optionContainer .MuiSvgIcon-root{
  color: grey;
  font-size: 26px;
}
.header__optionContainer .MuiSvgIcon-root:hover{
  color: #000;
}
.header__optionContainer p{
 margin: 0;
 font-weight: 400;
 font-size: 13px;
 color:gray;
}
/* main */
.main{
  display: flex;
  padding: 25px 100px;
  justify-content: space-between;
  gap:30px;
}
.left__sideBar{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 100px;
  left:100px;
  width: 20%;
 
}
.profile__container {
  position: relative;
  background-color: #fff;
  border: 1px solid rgb(225, 219, 219);
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 10px;
}
.profile__pic{
  position: absolute;
  top:50px;
  left: 90px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.profile__container .bg{
  height:90px;
  width: 100%;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
}
.profile__bottom{
      text-align: center;
} 
.username{
  font-weight: 600;
  font-size: 20px;
  margin:20px auto 0;
  text-align: center;
}
.user__gmail{
  font-weight: 700;
  font-size: 14px;
  margin: 1px 0;
  padding-bottom: 10px;
 width: 94%;
 margin: auto;
  text-align: center;
  color: gray;
  border-bottom: 1px solid gray;
}
.account__info{
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:15px;
  margin: 15px;
}

.account__info .title{
  color: rgb(152, 148, 148);
margin:0;
}
.account__info .number{
  color: rgb(209, 66, 209);
  margin:0;
}
.account__info p{
  font-weight: 700;
  font-size: 15px;
}

.recent__container{
  padding:10px 20px;
  background-color: #fff;
  border: 1px solid rgb(225, 219, 219);
  border-radius: 15px;
      cursor: pointer;
}
.linkedin__newsContainer {
  padding: 10px 0px;
  background-color: #fff;
  border: 1px solid rgb(225, 219, 219);
  border-radius: 15px;
  cursor: pointer;
  width: 300px;
}
.linkedin__newsHeader{
  padding:0 20px;
display: flex;
align-items: center;
justify-content: space-between;
}
.linkedin__news {
  color: rgb(109, 106, 106);
  font-size: 16px;
  font-weight: 600;
}
.linkedin__newsOptions{
      padding:  5px 15px;
      font-size: 15px;
}
.linkedin__newsOptions .MuiSvgIcon-root{
  color: #007BFF;
  font-size: 15px;
  margin-right: 4px;
}
.linkedin__newsOptions:hover{
  background-color: #F5F5F5;
}
.linkedin__newsOptions small{
  display: block;
  padding:0 20px;
  margin: 3px 0 ;
  font-size: 13px;
  font-weight: 500;
  color: gray;
}
.right__sidebar{
  position: fixed;
    top: 100px;
    right:100px;
    width: 20%;
}
.right__sidebar .discover{
  padding:0 20px;
}
.recent{
  color: rgb(109, 106, 106);
  font-size: 15px;
  font-weight: 400;
}
.discover{
  color: rgb(142, 137, 137);
    font-size: 15px;
    font-weight: 600;
}
.recent__options{
  color: rgb(141, 137, 137);
  cursor: pointer;
  margin-bottom: 5px;
  font-size: 14px;
}
.recent__options:hover{
  color: #000;
 
}
.hash{
  font-size: 21px;
  margin-right: 3px;
}
.feed__container{
 margin:80px auto 0;
  position: sticky;
  top: 100px;
  left:340px;
  width: 45%;
}
.feed__container .input__container{
  border: 1px solid rgb(246, 240, 240);
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.input{
  display: flex;
  align-items: center;
  border: 1px solid rgb(222, 211, 211);
  border-radius: 25px;
    padding: 10px;
}
.input input{
border: none;
  outline: none;
  margin-left: 3px;
  font-size: 15px;
  font-weight: 500;
  width: 100%;
  color: #808080;
}
.input .MuiSvgIcon-root{
  color: #808080;
}
.input__optionsContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}
.input__options{
  display: flex;
  align-items: center;
  gap:4px;
  padding: 0;
}
.input__options p{
  font-weight: 700;
  color: #9a9393;
  font-size: 16px;
  margin-left: 4px;
}
.photo{
  color: #007BFF;
}
.video {
  color: #5F9B41;
}
.event {
  color: #C37D16;
}
.article {
  color: #E16745;
}
.input__options .icon__button{
  border-radius: 10px;
  padding:0px 10px;
}
.post__container{
  border: 1px solid rgb(246, 240, 240);
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.post__header{
  display: flex;
  align-items: center;
  gap:6px;
}
.post__header img{
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.post__header .user__info {
  display: flex;
 flex-direction: column;
}
.post__header .user__info p{
  margin: 0;
}
.post__header .user__info p:first-child{
  font-weight: 700;
}
.post__header .user__info p:nth-child(2){
  font-size: 14px;
  color:rgb(101, 100, 98)
}

.post__content{
  padding: 0 10px;
  margin: 5px 0;
}
.post__content p{
  margin: 6px 0;
  font-size: 17px;
  color: rgb(73, 72, 72);
}
.post__optionsContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post__option{
display: flex;
  align-items: center;
  padding: 0;

}
.post__option .icon__button {
  border-radius: 10px;
  padding: 15px;
}
.post__option .MuiSvgIcon-root{
  font-size: 20px;
  margin-right: 6px;
}
.post__option span{
  font-size: 17px;
  font-weight: 700;
}
.login{
  margin: 100px auto 0;
  text-align: center;
}
.login img{
  height: 100px;
  margin-bottom: 20px;
}
.login .input{
    width: 300px;
  display: block;
    margin: auto;
    border: 0;
}
.login input{
  width: 300px;
    margin: auto;
  width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px 10px;
    font-size: 19px;
    font-weight: 500;
    color: #000;
}
.login button{
  background: #0074B1;
  text-align: center;
  border: 2px solid black;
  color: #fff;
  font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    width: 325px;
    padding: 15px ;
    margin-left: 18px;
    margin-top: 10px;
}
.login form p{
  margin: 0;
  color: red;
}
@media screen and (max-width:1030px) {
  .header{
    padding:10px 100px;
  }
    .main {
      display: flex;
      padding: 25px 50px;
      justify-content: space-between;
      gap: 20px;
    }
  .feed__container{
    width: 48%;
  }
  .right__sidebar{
    right:10px;
  }
  .linkedin__newsContainer{
    width: 200px;
  }
    .post__option .icon__button {
      border-radius: 10px;
      padding: 10px;
    }
  .post__option .MuiSvgIcon-root {
          font-size: 16px;
          margin-right: 4px;
        }
        .post__option span {
          font-size: 16px;
        }
    .profile__pic{
      left:60px;
    }
}


@media screen and (max-width:980px){
  .main {
      padding: 25px 40px;
      gap: 0px;
    }
.feed__container {
    width: 45%;
    left:320px;
   
  }
    .input__options .icon__button {
      border-radius: 10px;
      padding: 0px 5px;
    }
    .input__options p {
      font-size: 15px;
      margin-left: 2px;
    }
    .right__sidebar{
      right: 20px;
    }
}
@media screen and (max-width:950px) {
  .header {
    padding: 10px 70px;
  }
    .main {
      padding: 25px 20px;
    }
  
    .left__sideBar {
      top:90px;
      left: 40px;
    }
  
    .feed__container {
      left: 220px;
      margin: 70px auto 0;
    }
  
    .right__sidebar {
            top: 90px;
      right: 40px;
    }
}

@media screen and (max-width:880px) {
  .header {
    padding: 10px 40px;
  }
}
@media screen and (max-width:860px){
  .left__sideBar{
    display: none;
  }
  .right__sidebar{
    display: none;
  }
    .feed__container {
      width: 60%;
      left: 180px;
    }
}
@media screen and (max-width:815px) {
  .header {
    padding: 10px 30px;
  }
    .header__optionContainer {
      margin-right: 15px;
    }
    .header__optionContainer .MuiSvgIcon-root {
      font-size: 23px;
    }
}
@media screen and (max-width:750px) {
  .header {
    padding: 10px 8px;
  }
}
@media screen and (max-width:700px){
.feed__container {
    width: 80%;
    left: 80px;
  }
    .input__options .icon__button {
      border-radius: 10px;
      padding: 5px 12px;
    }
  .post__option .icon__button {
          border-radius: 10px;
          padding: 15px;
        }
    .post__option .MuiSvgIcon-root {
      font-size: 20px;
      margin-right: 6px;
    }
}
@media screen and (max-width:660px) {
  .header__left img {
      height: 45px;
    }
  .header .input__container {
      padding: 5px 3px;
      margin-left: 1px;
      width: 60%;
    }
  .header__optionContainer p{
   white-space: nowrap;
  }
}
@media screen and (max-width:600px) {
  .header__optionContainer {
      margin-right: 8px;
    }
    .header__optionContainer .MuiSvgIcon-root {
      font-size: 22px;
    }
        .header__optionContainer p{
          font-size: 12px;
        }
    .header__right img {
      width: 30px;
      height: 30px;
    }
        .feed__container {
          width: 90%;
          left: 30px;
        }

}
@media screen and (max-width:580px){
          .feed__container {
              margin: 90px auto 0;
              
            }
}
@media screen and (max-width:571px) {
  .login{
    margin-top: 120px;
  }
  .header{
    flex-wrap: wrap;
    padding:10px 20px;
  }
  .header__left{
    margin-bottom: 8px;
  }
     .header .input__container {
       width: 100%;
     }
         .header .input__container{
          margin-left: 10px;
         }
    .header__optionContainer {
    margin-right: 23px;
  }
   .header__optionContainer .MuiSvgIcon-root {
     font-size: 24px;
}
 .header__optionContainer p {
     font-size: 12px;
   }
        .feed__container {
          margin: 120px auto 0;
    
        }
}
@media screen and (max-width:535px){
  .feed__container {
      width: 90%;
      left: 0;
    }
         .input__options .icon__button {
           border-radius: 10px;
           padding: 5px 8px;
         }
    
         .post__option .icon__button {
           border-radius: 10px;
           padding: 12px 15px;
         }
    
         .post__option .MuiSvgIcon-root {
           font-size: 18px;
           margin-right: 6px;
         }
}
@media screen and (max-width:500px){
.post__container{
  padding: 10px 5px;
}
.post__option span {
  font-size: 14px;
}
}
@media screen and (max-width:478px){
.post__option .icon__button {
    border-radius: 10px;
    padding: 12px 8px;
  }
  .input__options .MuiSvgIcon-root{
    font-size: 18px;
  }
    .input__options p {
      margin: 3px  0 3px 1px;
      font-size: 14px;
    }
        .input__options .icon__button {
          padding: 12px 8px;
        }
}
@media screen and (max-width:435px){
  .feed__container{
    width: 100%;
  }
}
@media screen and (max-width:400px) {
  .header__optionContainer {
      margin-right: 15px;
    }
    .header__optionContainer .MuiSvgIcon-root {
      font-size: 21px;
    }
        .post__option .icon__button {
          border-radius: 9px;
          padding: 8px 6px;
        }
    
        .input__options .MuiSvgIcon-root {
          font-size: 18px;
        }
    
        .input__options p {
          margin: 3px 0 3px 1px;
          font-size: 14px;
        }
    
        .input__options .icon__button {
          padding: 8px 5px;
        }
}
@media screen and (max-width:376px){
  .login .input {
      width: 250px;
    }
        .login button{
          width: 278px;
        }
.post__option .icon__button {
    border-radius: 9px;
    padding: 8px 6px;
  }

  .input__options .MuiSvgIcon-root {
    font-size: 16px;
  }

  .input__options p {
    margin: 3px 0 3px 1px;
    font-size: 12px;
  }

  .input__options .icon__button {
    padding: 8px 5px;
  }
    .post__option .MuiSvgIcon-root {
      font-size: 16px;
      margin-right: 2px;
    }
        .post__option span {
          font-size: 14px;
        }
}
@media screen and (max-width:360px) {
  .header__optionContainer {
    margin-right: 8px;
  }

  .header__optionContainer .MuiSvgIcon-root {
    font-size: 21px;
  }
    .header__optionContainer p {
      font-size: 11px;
    }
}
@media screen and (max-width:350px){
  .post__option .MuiSvgIcon-root {
      font-size: 14px;
      margin-right: 2px;
    }
  
    .post__option span {
      font-size: 13px;
    }
}
@media screen and (max-width:330px) {
  .login .input {
      width: 220px;
    }
         .login button {
           width: 246px;
         }
}